// About me section
.about-me-container {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    // max-width: 100%;

    & img {
        display: block;
        margin: 1.75rem auto;
        max-width: 100%;
        /* border: 1px solid black; */
    }

    // h2 {
    //     text-align: center;
    // }
}

// portfolio section
.portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-container {
    height: auto;
    max-width: 75%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    text-align: center;
    transition: 0.3s;

    & img {
        width: 100%;
        height: auto;
    }
}

// Skills section

.skills ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;

    & li {
        width: 50%;
    }

    & li:nth-child(even) {
        background-color: cadetblue;
    }

    & li:nth-child(odd) {
        background-color: #904646;
    }

    & p {
        background-color: lightgray;
        padding: 0.25rem;
    }
}